{{define "client"}}

<h1>{{.Translate "coll-edit-order"}} {{.ID}}</h1>
<p><strong>{{.Translate "coll-edit-status"}}</strong> {{.State.Description}}</p>

<noscript>
	<div class="alert alert-warning" role="alert">
		{{.Translate "coll-edit-js"}}
	</div>
</noscript>

{{template "collection" .}}

<form method="post" onsubmit="prepareSubmit(event)">
	<input type="hidden" id="data" name="data">
	<div class="mb-3 text-right">
		<a class="btn btn-warning" href="{{.Link}}">{{.Translate "go-back"}}</a>
		<button class="btn btn-success" type="submit">{{.Translate "coll-edit-button"}</button>
	</div>
</form>

{{end}}
