{{define "client"}}
	<h1>Auftragsentwurf löschen</h1>
	<form method="post">
		<div class="mb-3 form-check">
			<input type="checkbox" class="form-check-input {{if .Err}}is-invalid{{end}}" id="confirm-delete" name="confirm-delete">
			<label class="form-check-label" for="confirm-delete">Ja, ich bin mir sicher.</label>
			<div class="invalid-feedback">Bitte bestätige, dass den Auftragsentwurf löschen möchtest.</div>
		</div>
		<div class="text-end">
			<a class="btn btn-secondary" href="{{.Link}}">Abbrechen und zurück</a>
			<button class="btn btn-danger" type="submit">Auftragsentwurf löschen</button>
		</div>
	</form>
{{end}}
