{{define "client"}}
	<h1>Auftrag</h1>
	<form method="post">
		<div class="mb-3">
			<label class="form-label" for="collection-id">Auftragsnummer</label>
			<div>
				<input type="text" class="form-control {{if .CollIDErr}}is-invalid{{end}}" id="collection-id" name="collection-id" value="{{.CollID}}">
				<div class="invalid-feedback">Bitte gib deine zehnstellige Auftragsnummer ein.</div>
			</div>
		</div>
		<div class="mb-3">
			<label class="form-label" for="collection-passphrase">Passphrase</label>
			<div>
				<input type="password" class="form-control {{if .CollPassErr}}is-invalid{{end}}" id="collection-passphrase" name="collection-passphrase" value="">
				<div class="invalid-feedback">Bitte gib die korrekte Passphrase ein.</div>
			</div>
		</div>
		<div class="mb-3 text-end">
			<a href="/" class="btn btn-secondary">Abbrechen</a>
			<button type="submit" class="btn btn-success">Einloggen</button>
		</div>
	</form>
{{end}}
