{{define "client"}}
	<h1>{{.Translate "coll-submit"}}</h1>
	<div class="alert alert-warning">
		{{.Translate "coll-submit-confirm"}}
	</div>
	{{template "collection" .}}
	<p>{{.Translate "coll-submit-payment"}}</p>
	<ul>
		<li>{{.Translate "coll-submit-cash"}}</li>
		<li>{{.Translate "coll-submit-bank"}}</li>
		<li>{{.Translate "coll-submit-coins"}}</li>
	</ul>
	<p>{{.Translate "coll-submit-gwg"}}</p>
	<p>{{.Translate "coll-submit-tos"}}</p>
	<form method="post">
		<div class="form-group">
			<label for="submit-message">{{.Translate "coll-submit-note"}}</label>
			<textarea class="form-control" id="submit-message" name="submit-message" rows="3"></textarea>
			<small class="form-text text-muted">{{.Translate "coll-md"}}</small>
		</div>
		<div class="mb-3 text-right">
			<a class="btn btn-secondary" href="{{.Link}}">{{.Translate "go-back"}}</a>
			<button class="btn btn-success" type="submit">{{.Translate "coll-submit-button"}}</button>
		</div>
	</form>
{{end}}
