{{define "client"}}
<h1>Auftrag abbrechen</h1>
<form method="post">
	<div class="form-group form-check">
		<input type="checkbox" class="form-check-input {{if .Err}}is-invalid{{end}}" id="confirm-cancel" name="confirm-cancel">
		<label class="form-check-label" for="confirm-cancel">Ja, ich bin mir sicher.</label>
		<div class="invalid-feedback">Bitte bestätige, dass du den Auftrag abbrechen möchtest.</div>
	</div>
	<div class="text-end">
		<a class="btn btn-secondary" href="{{.Link}}">Abbrechen und zurück</a>
		<button class="btn btn-danger" type="submit">Auftrag abbrechen</button>
	</div>
</form>
{{end}}
