{{define "client"}}
	<h1>Auftrag {{.ID}}</h1>
	{{range .Notifications}}
		<div class="alert alert-success mt-3" role="alert">{{.}}</div>
	{{end}}
	<p><strong>Status:</strong> {{.State.Description}}</p>
	{{if .ClientCan "submit"}}
		<div class="alert alert-warning">{{.Translate "coll-view-reminder"}}</div>
	{{end}}
	<p>
		{{if .ClientCan "pay"}}
			<a class="btn btn-success" href="/collection/{{$.ID}}/pay-btcpay">{{.Translate "coll-view-coins"}}</a>
		{{end}}
		{{if .ClientCan "submit"}}
			<a class="btn btn-success" href="/collection/{{$.ID}}/submit">{{.Translate "coll-view-submit"}}</a>
		{{end}}
		{{if .ClientCan "edit"}}
			<a class="btn btn-info" href="/collection/{{$.ID}}/edit">{{.Translate "store-edit"}}</a>
		{{end}}
		{{if .ClientCan "message"}}
			<a class="btn btn-info" href="/collection/{{$.ID}}/message">{{.Translate "coll-msg"}}</a>
		{{end}}
		{{if .ClientCan "cancel"}}
			<a class="btn btn-danger" href="/collection/{{$.ID}}/cancel">{{.Translate "coll-view-cancel"}}</a>
		{{end}}
		{{if .ClientCan "delete"}}
			<a class="btn btn-danger" href="/collection/{{$.ID}}/delete">{{.Translate "coll-view-delete"}}</a>
		{{end}}
	</p>
	{{if .ClientCan "pay"}}
		{{block "payment-information" .}}{{end}}
	{{end}}
	<h2>{{.Translate "coll-view-course"}}</h2>
	{{template "log" .}}
	{{template "collection" .}}
{{end}}
