{{define "content"}}
	<h1>Willkommen</h1>
	{{range .Notifications}}
		<div class="alert alert-success mt-3" role="alert">{{.}}</div>
	{{end}}
	<p class="mt-3">Willkommen beim datensparsamen Bestellservice des ProxyStore. Für <strong>10 Euro plus 5 Prozent des Warenwerts</strong> bestellen wir frei verkäufliche Waren deiner Wahl aus dem Internet. Du kannst datensparsam bezahlen und die Waren in unserem Ladengeschäft in Leipzig abholen oder sie dir senden lassen.</p>
	<p>Dieser Service richtet sich derzeit nur an Privatpersonen <strong>mit Sitz in Deutschland</strong>. Bitte beachte folgende Bedingungen und Einschränkungen:</p>

	<h2 class="h4">Welche Artikel können bestellt werden?</h2>
	<ul>
		<li class="text-success"><i class="fa-solid fa-check"></i> Waren bis maximal 20 kg und 120x60x60 cm je Einzelbestellung</li>
		<li class="text-success"><i class="fa-solid fa-check"></i> Gutscheine für Waren und Dienstleistungen</li>
		<li class="text-danger"><i class="fa-solid fa-xmark"></i> keine empfindlichen Artikel (z. B. Glas)</li>
		<li class="text-danger"><i class="fa-solid fa-xmark"></i> keine fehleranfälligen Artikel (z. B. Unterhaltungselektronik)</li>
		<li class="text-danger"><i class="fa-solid fa-xmark"></i> keine Dienstleistungen</li>
		<li class="text-danger"><i class="fa-solid fa-xmark"></i> keine Abonnements</li>
		<li class="text-danger"><i class="fa-solid fa-xmark"></i> keine Spenden</li>
	</ul>

	<h2 class="h4">Zu welchen Lieferbedingungen?</h2>
	<ul>
		<li class="text-success"><i class="fa-solid fa-check"></i> vorrätige Artikel in Onlineshops</li>
		<li class="text-danger"><i class="fa-solid fa-xmark"></i> keine Auktionen oder Kleinanzeigen</li>
		<li class="text-danger"><i class="fa-solid fa-xmark"></i> keine Artikel mit schwankenden Preisen</li>
		<li class="text-danger"><i class="fa-solid fa-xmark"></i> keine andere Währung als Euro</li>
		<li class="text-danger"><i class="fa-solid fa-xmark"></i> keine nicht vorrätigen Artikel oder Artikel mit langer Lieferdauer</li>
	</ul>

	<h2 class="h4">Von gewerblichen Verkäufer/-innen&hellip;</h2>
	<ul>
		<li class="text-success"><i class="fa-solid fa-check"></i> aus Deutschland</li>
		<li class="text-success"><i class="fa-solid fa-check"></i> auf amazon</li>
		<li class="text-success"><i class="fa-solid fa-magnifying-glass"></i> aus anderen EU-Staaten, wenn sie uns eine Nettorechnung ausstellen. Ansonsten müssen wir 19&nbsp;% deutsche Umsatzsteuer hinzufügen.</li>
		<li class="text-danger"><i class="fa-solid fa-xmark"></i> keine Waren oder Dienstleistungen von Anbietern außerhalb der EU</li>
	</ul>

	<div class="row">
		<div class="card col-sm border-success bg-light m-3 p-4 justify-content-center align-items-center">
			<div class="card-body">
				<a class="card-link stretched-link text-success" href="/create">Neuen Bestellauftrag beginnen</a>
			</div>
		</div>
		<div class="card col-sm border-success bg-light m-3 p-4 justify-content-center align-items-center">
			<div class="card-body">
				<a class="card-link stretched-link text-success" href="/collection">Auftrag ansehen oder bearbeiten</a>
			</div>
		</div>
		<div class="card col-sm border-success bg-light m-3 p-4 justify-content-center align-items-center">
			<div class="card-body">
				<a class="card-link stretched-link text-success" href="/state">Nur Auftragsstatus anzeigen</a>
			</div>
		</div>
	</div>
{{end}}
