{{define "client"}}
	<h1>{{.Translate "state-get"}}</h1>

	<form method="post">
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="collection-id">{{.Translate "coll-id"}}</label>
			<div class="col-sm-9">
				<input type="text" class="form-control {{if .CollIDErr}}is-invalid{{end}}" id="collection-id" name="collection-id" value="{{.CollID}}">
				<div class="invalid-feedback">{{.Translate "coll-login-invalid-id"}}</div>
			</div>
		</div>

		<p class="text-center">
			<img id="captcha-image" src="/captcha/{{.CaptchaID}}.png" alt="Captcha image">
		</p>

		<div class="form-group">
			<label for="captcha-solution">{{.Translate "state-get-numbers"}}</label>
			<input class="form-control {{if .CaptchaErr}}is-invalid{{end}}" id="captcha-solution" name="captcha-solution">
			<div class="invalid-feedback">{{.Translate "state-get-captcha"}}</div>
			<small class="form-text text-muted"><a href="#" onclick="reloadCaptcha(); return false;">{{.Translate "state-get-reload"}}</a></small>
		</div>

		<input type="hidden" name="captcha-id" value="{{.CaptchaID}}">

		<div class="mb-3 text-right">
			<a href="/" class="btn btn-secondary">{{.Translate "cancel"}</a>
			<button class="btn btn-success" type="submit">{{.Translate "state-get-status"}}</button>
		</div>

	</form>
{{end}}
