{{define "client"}}
	<h1>Auftragsstatus</h1>

	<form method="post">
		<div class="mb-3">
			<label class="form-label" for="collection-id">Auftragsnummer</label>
			<div>
				<input type="text" class="form-control {{if .CollIDErr}}is-invalid{{end}}" id="collection-id" name="collection-id" value="{{.CollID}}">
				<div class="invalid-feedback">Bitte gib deine zehnstellige Auftragsnummer ein.</div>
			</div>
		</div>

		{{template "captcha" .Captcha}}

		<div class="mb-3 text-end">
			<a href="/" class="btn btn-secondary">Abbrechen</a>
			<button class="btn btn-success" type="submit">Auftragsstatus anzeigen</button>
		</div>

	</form>
{{end}}
