{{define "store"}}
	<h1>Bereits akzeptierten Auftrag löschen</h1>
	<form method="post">
		<div class="form-group form-check">
			<input type="checkbox" class="form-check-input {{if .Err}}is-invalid{{end}}" id="confirm-delete" name="confirm-delete">
			<label class="form-check-label" for="confirm-delete">Ja, ich bin mir sicher.</label>
			<div class="invalid-feedback">Bitte bestätige, dass den bereits akzeptierten Auftrag löschen möchtest.</div>
		</div>
		<div class="text-right">
			<a class="btn btn-secondary" href="{{.Link}}">Abbrechen und zurück</a>
			<button class="btn btn-danger" type="submit">Auftrag löschen</button>
		</div>
	</form>
{{end}}
