{{define "store"}}
	<h1>{{.Translate "store-payment"}}</h1>
	<form method="post">
		<div class="form-group">
			<label for="paid-amount">{{.Translate "store-paid-amount"}}</label>
			<input class="form-control {{if .Err}}is-invalid{{end}}" id="paid-amount" name="paid-amount" type="number" size="8" min="-10000.00" max="10000.00" step="0.01">
			<div class="invalid-feedback">{{.Translate "store-value"}}</div>
		</div>
		<div class="form-group">
			<label for="confirm-payment-message">{{.Translate "store-payment-message"}}</label>
			<textarea class="form-control" id="confirm-payment-message" name="confirm-payment-message" rows="3"></textarea>
			<small class="form-text text-muted">{{.Translate "coll-md"}}</small>
		</div>
		<div class="text-right">
			<a class="btn btn-secondary" href="{{.Coll.Link}}">{{.Translate "go-back"}}</a>
			<button class="btn btn-success" type="submit">{{.Translate "store-payment"}}</button>
		</div>
	</form>
{{end}}
