{{define "store"}}
	<h1>{{.Translate "store-delete-title"}}</h1>
	<form method="post">
		<div class="form-group form-check">
			<input type="checkbox" class="form-check-input {{if .Err}}is-invalid{{end}}" id="confirm-delete" name="confirm-delete">
			<label class="form-check-label" for="confirm-delete">{{.Translate "confirm-yes"}}</label>
			<div class="invalid-feedback">{{.Translate "store-delete-confirm"}}</div>
		</div>
		<div class="text-right">
			<a class="btn btn-secondary" href="{{.Link}}">{{.Translate "go-back"}}</a>
			<button class="btn btn-danger" type="submit">{{.Translate "store-delete"}}</button>
		</div>
	</form>
{{end}}
