{{define "store"}}
	<h1>{{.Translate "store-reshipment"}}</h1>
	<form method="post">
		<p>{{.Translate "store-reshipment-text"}}</p>
		<ul>
		{{range .Tasks}}
			{{if eq .State "ready"}}
				<li>{{.ID}}</li>
				<input type="hidden" name="task[]" value="{{.ID}}">
			{{end}}
		{{end}}
		</ul>
		<div class="text-right">
			<a class="btn btn-secondary" href="{{.Link}}">{{.Translate "go-back"}}</a>
			<button class="btn btn-success" type="submit">{{.Translate "store-reshipment"}}</button>
		</div>
	</form>
{{end}}
