{{define "store"}}
	<h1>{{.Translate "store-spam"}}</h1>
	<form method="post">
		<div class="form-group form-check">
			<input type="checkbox" class="form-check-input {{if .Err}}is-invalid{{end}}" id="check" name="confirm-mark-spam">
			<label class="form-check-label" for="check">{{.Translate "confirm-yes"}}</label>
			<div class="invalid-feedback">{{.Translate "store-spam-text"}}</div>
		</div>
		<div class="text-right">
			<a class="btn btn-secondary" href="{{.Coll.Link}}">{{.Translate "go-back"}}</a>
			<button class="btn btn-danger" type="submit">{{.Translate "store-spam"}}</button>
		</div>
	</form>
{{end}}
