{{define "store"}}
	{{range .Notifications}}
		<div class="alert alert-success mt-3" role="alert">{{.}}</div>
	{{end}}

	<h1>Eingereicht</h1>
	{{with .ReadColls "submitted"}}
		<table class="table">
			<thead>
				<tr>
					<th>Bestellnummer</th>
					<th>Letztes Event</th>
				</tr>
			</thead>
			<tbody>
				{{range .}}
					{{with $.DB.ReadColl .}}
						<tr>
							<td><a href="/collection/{{.ID}}">{{.ID}}</a></td>
							<td>{{.MaxDate}}</td>
						</tr>
					{{end}}
				{{end}}
			</tbody>
		</table>
	{{else}}
		<p>Keine Bestellungen</p>
	{{end}}

	<h1>Angenommen</h1>
	{{with .ReadColls "accepted"}}
		<table class="table">
			<thead>
				<tr>
					<th>Bestellnummer</th>
					<th>Letztes Event</th>
				</tr>
			</thead>
			<tbody>
				{{range .}}
					{{with $.DB.ReadColl .}}
						<tr>
							<td><a href="/collection/{{.ID}}">{{.ID}}</a></td>
							<td>{{.MaxDate}}</td>
						</tr>
					{{end}}
				{{end}}
			</tbody>
		</table>
	{{else}}
		<p>Keine Bestellungen</p>
	{{end}}

	<h1>Aktiv</h1>
	{{with .ReadColls "active"}}
		<table class="table">
			<thead>
				<tr>
					<th>Bestellnummer</th>
					<th>Einzelaufträge</th>
					<th>Davon noch nicht bestellt</th>
					<th>Letztes Event</th>
					<th>Summe</th>
					<th>Saldo</th>
				</tr>
			</thead>
			<tbody>
				{{range .}}
					{{with $.DB.ReadColl .}}
						<tr>
							<td><a href="/collection/{{.ID}}">{{.ID}}</a></td>
							<td class="small">{{range .Tasks}}{{with .Merchant}}{{Cut . 25}}{{else}}<i>unbenannt</i>{{end}}<br>{{end}}</td>
							<td>{{with .NumTasksAt "not-ordered-yet"}}{{.}}{{end}}</td>
							<td>{{.MaxDate}}</td>
							<td>{{FmtEuro .Sum}}</td>
							<td class="{{if lt .Balance 0}}text-danger{{else}}text-success{{end}}">{{FmtEuro .Balance}}</td>
						</tr>
					{{end}}
				{{end}}
			</tbody>
		</table>
	{{else}}
		<p>Keine Bestellungen</p>
	{{end}}

	<h1>Abgeschlossen</h1>
	{{with .ReadColls "finalized"}}
		<table class="table">
			<thead>
				<tr>
					<th>Bestellnummer</th>
					<th>Letztes Event</th>
					<th>Saldo</th>
				</tr>
			</thead>
			<tbody>
				{{range .}}
					{{with $.DB.ReadColl .}}
						<tr>
							<td><a href="/collection/{{.ID}}">{{.ID}}</a></td>
							<td>{{.MaxDate}}</td>
							<td class="{{if lt .Balance 0}}text-danger{{else}}text-success{{end}}">{{FmtEuro .Balance}}</td>
						</tr>
					{{end}}
				{{end}}
			</tbody>
		</table>
	{{else}}
		<p>Keine Bestellungen</p>
	{{end}}

{{end}}
