{{define "store"}}
	{{range .Notifications}}
		<div class="alert alert-success mt-3" role="alert">{{.}}</div>
	{{end}}

	<h1>{{.Translate "store-submitted"}}</h1>
	{{with .ReadColls "submitted"}}
		<table class="table">
			<thead>
				<tr>
					<th>{{.Translate "coll-id"}}</th>
					<th>{{.Translate "store-event"}}</th>
				</tr>
			</thead>
			<tbody>
				{{range .}}
					<tr>
						<td><a href="/collection/{{.CollID}}">{{.CollID}}</a></td>
						<td>{{.MaxDate}}</td>
					</tr>
				{{end}}
			</tbody>
		</table>
	{{else}}
		<p>{{.Translate "store-noorder"}}</p>
	{{end}}

	<h1>{{.Translate "store-accepted"}}</h1>
	{{with .ReadColls "accepted"}}
		<table class="table">
			<thead>
				<tr>
					<th>{{.Translate "coll-id"}}</th>
					<th>{{.Translate "store-event"}}</th>
				</tr>
			</thead>
			<tbody>
				{{range .}}
					<tr>
						<td><a href="/collection/{{.CollID}}">{{.CollID}}</a></td>
						<td>{{.MaxDate}}</td>
					</tr>
				{{end}}
			</tbody>
		</table>
	{{else}}
		<p>{{.Translate "store-noorder"}}</p>
	{{end}}

	<h1>{{.Translate "store-underpaid"}}</h1>
	{{with .ReadColls "underpaid"}}
		<table class="table">
			<thead>
				<tr>
					<th>{{.Translate "coll-id"}}</th>
					<th>{{.Translate "store-event"}}</th>
				</tr>
			</thead>
			<tbody>
				{{range .}}
					<tr>
						<td><a href="/collection/{{.CollID}}">{{.CollID}}</a></td>
						<td>{{.MaxDate}}</td>
					</tr>
				{{end}}
			</tbody>
		</table>
	{{else}}
		<p>{{.Translate "store-noorder"}}</p>
	{{end}}

	<h1>{{.Translate "store-paid"}}</h1>
	{{with .ReadColls "paid"}}
		<table class="table">
			<thead>
				<tr>
					<th>{{.Translate "coll-id"}}</th>
					<th>{{.Translate "store-iorders"}}</th>
					<th>{{.Translate "store-open-order"}}</th>
					<th>{{.Translate "store-event"}}</th>
				</tr>
			</thead>
			<tbody>
				{{range .}}
					<tr>
						<td><a href="/collection/{{.CollID}}">{{.CollID}}</a></td>
						<td>{{.NumTasks}}</td>
						<td>{{if .NumFilteredTasks}}{{.NumFilteredTasks}}{{end}}</td>
						<td>{{.MaxDate}}</td>
					</tr>
				{{end}}
			</tbody>
		</table>
	{{else}}
		<p>{{.Translate "store-noorder"}}</p>
	{{end}}

	<h1>{{.Translate "store-complet"}}</h1>
	{{with .ReadColls "finalized"}}
		<table class="table">
			<thead>
				<tr>
					<th>{{.Translate "coll-id"}}</th>
					<th>{{.Translate "store-event"}}</th>
				</tr>
			</thead>
			<tbody>
				{{range .}}
					<tr>
						<td><a href="/collection/{{.CollID}}">{{.CollID}}</a></td>
						<td>{{.MaxDate}}</td>
					</tr>
				{{end}}
			</tbody>
		</table>
	{{else}}
		<p>{{.Translate "store-noorder"}}</p>
	{{end}}

{{end}}
