{{define "store"}}
	<h1>{{.Translate "store-mark-failed"}}</h1>
	<form method="post">
		<div class="form-group">
			<label for="mark-failed-message">{{.Translate "store-msg"}}</label>
			<textarea class="form-control" id="mark-failed-message" name="mark-failed-message" rows="3">{{.Translate "store-failed" .Merchant}}</textarea>
			<small class="form-text text-muted">{{.Translate "coll-md"}}</small>
		</div>
		<div class="text-right">
			<a class="btn btn-secondary" href="{{.CollLink}}">{{.Translate "go-back"}}</a>
			<button class="btn btn-warning" type="submit">{{.Translate "store-mark-failed"}}</button>
		</div>
	</form>
	{{template "task" .}}
{{end}}
