{{define "body"}}
	<nav class="navbar navbar-expand-sm navbar-light justify-content-center small mb-0 py-2" style="background-color: #eeeff0!important; font-weight: bold">
		<a class="nav-item nav-link text-dark px-2 py-0" href="https://dys2p.com">dys2p</a> &middot;
		<a class="nav-item nav-link text-dark px-2 py-0" href="https://proxysto.re">ProxyStore</a> &middot;
		<a class="nav-item nav-link text-dark px-2 py-0" href="https://toolbox77.de">toolbox77</a>
	</nav>
	<nav class="navbar navbar-expand-sm navbar-light bg-light">
		<div class="container-fluid">
			<div class="col">
				{{block "brand" .}}{{end}}
			</div>
			<div class="col text-end">
				{{with .AuthorizedCollID}}
					<form class="mb-0" action="/logout" method="post">
						<a class="btn btn-secondary btn-sm" href="/collection/{{.}}">Angemeldet als {{.}}</a>
						<button class="btn btn-secondary btn-sm" type="submit" name="logout">Abmelden</a>
					</form>
				{{end}}
			</div>
		</div>
	</nav>
	<div class="container mt-3">
		{{template "client" .}}
	</div>
{{end}}
