{{define "head"}}
	<link rel="icon" type="image/png" href="/static/favicon-96.png" sizes="96x96">
	<meta name="description" content="Datensparsamer Bestellshop">
	<meta name="author" content="ProxyStore">
	<title>Order Service – ProxyStore</title>
	<script src="/static/ordersystem.js"></script>
	<style>
		a {
			text-decoration: none;
		}
		.radio-label {
			display: flex;
			align-items: center;
		}
		.radio-label input[type=radio]{
			transform:scale(1.5);
			margin: 0.5em;
		}
		.radio-label label {
			flex-grow: 1;
			margin: 0 0 0 0.5em;
		}
		td > p:last-child {
			margin-bottom: 0 !important;
		}
	</style>
{{end}}

{{define "main"}}
	<nav class="navbar navbar-expand-sm navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="/">
				{{block "brand" .}}
					Bestellservice
				{{end}}
			</a>
			{{block "menu" .}}{{end}}
			<div>
				{{with .AuthorizedCollID}}
					<form class="mb-0" action="/logout" method="post">
						<a class="btn btn-secondary btn-sm" href="/collection/{{.}}">Angemeldet als {{.}}</a>
						<button class="btn btn-secondary btn-sm" type="submit" name="logout">Abmelden</a>
					</form>
				{{end}}
			</div>
		</div>
	</nav>
	<div class="container mt-3">
		{{template "content" .}}
	</div>
{{end}}

{{define "log"}}
<table class="table">
	<thead>
		<th>Datum</th>
		<th>Status</th>
		<th>Vermerk</th>
		<th>Bezahlter Betrag</th>
	</thead>
	{{range .Log}}
		<tr>
			<td>{{.Date.Format}}</td>
			<td>{{.NewState.Name}}</td>
			<td>{{.TextHTML}}</td>
			<td>{{if .Paid}}{{FmtHuman .Paid}}{{end}}</td>
		</tr>
	{{end}}
	{{if .Paid}}
		<tr>
			<td class="text-end" colspan="3">Summe</td>
			<td>{{FmtHuman .Paid}}</td>
		</tr>
	{{end}}
</table>
{{end}}

{{define "collection"}}
	<label class="form-label" for="client-contact">
		Kontaktmöglichkeit für Rückfragen (freiwillig, wird nicht weitergegeben und 14 Tage nach Abschluss des Auftrags gelöscht)
		{{if .Actor.IsStore}} &ndash; <strong>bei Kontaktaufnahme bitte keine Auftragsnummer nennen</strong>{{end}}
	</label>
	<div class="mb-3 row">
		<div class="col-md-6">
			<select class="form-select" name="client-contact-protocol" {{if .ReadOnly}}disabled{{end}}>
				{{range .ContactProtocols}}
					<option value="{{.ID}}" {{if eq $.ClientContactProtocol .ID}}selected{{end}}>{{.Name}}</option>
				{{end}}
			</select>
		</div>
		<div class="col-md-6">
			<input type="text" class="form-control" id="client-contact" name="client-contact" value="{{.ClientContact}}" {{if .ReadOnly}}disabled{{end}}>
		</div>
	</div>

	{{if .ShowHints}}
		<p>Falls ein Altersnachweis nötig ist, kann er persönlich im Ladenlokal erbracht werden. Anderweitig nachweispflichtige Waren können nicht bestellt werden.</p>
	{{end}}

	<p id="add-task-paragraph">
		{{if not .ReadOnly}}
			<button type="button" class="btn btn-success" id="add-task-button" onclick="var taskNumber = newTask(); addArticle(taskNumber);">Weiteren Auftrag hinzufügen</button>
		{{end}}
	</p>

	<h2>Abholung oder Weiterversand</h2>

	{{if .ShowHints}}
		<p>Unser Ladenlokal befindet sich in der Bernhard-Göring-Straße 162, 04277 Leipzig. Bitte beachte die <a rel="noreferrer" href="https://proxysto.re">Öffnungszeiten</a>.</p>
	{{end}}

	{{if and (.ReadOnly) (ne .DeliveryMethod "store")}}
		<!-- hide -->
	{{else}}
		<div class="radio-label border border-secondary bg-light my-3 p-3 rounded">
			<input type="radio" name="delivery-method" onchange="updateView()" id="delivery-method-store" value="store" {{if or (eq .DeliveryMethod "store") (eq .DeliveryMethod "")}}checked{{end}} {{if .ReadOnly}}disabled{{end}}>
			<label for="delivery-method-store">
				Ich hole die Ware <strong>unter Nennung der Auftragsnummer</strong> im Ladenlokal ab.
			</label>
		</div>
	{{end}}

	{{if and (.ReadOnly) (ne .DeliveryMethod "locker")}}
		<!-- hide -->
	{{else}}
		<div class="radio-label border border-secondary bg-light my-3 p-3 rounded">
			<input type="radio" name="delivery-method" onchange="updateView()" id="delivery-method-locker" value="locker" {{if eq .DeliveryMethod "locker"}}checked{{end}} {{if .ReadOnly}}disabled{{end}}>
			<label for="delivery-method-locker">
				Ich hole die Ware <strong>aus einem Schließfach</strong> im Ladenlokal ab. Ein geöffnetes Vorhängeschloss bringe ich vorbei.
			</label>
		</div>
	{{end}}

	{{if and (.ReadOnly) (ne .DeliveryMethod "custom")}}
		<!-- hide -->
	{{else}}
		<div class="radio-label border border-secondary bg-light my-3 p-3 rounded">
			<input type="radio" name="delivery-method" onchange="updateView()" id="delivery-method-custom" value="custom" {{if eq .DeliveryMethod "custom"}}checked{{end}} {{if .ReadOnly}}disabled{{end}}>
			<label for="delivery-method-custom">
				Bitte schickt mir die Ware. Eine bezahlte und beschriftete Paketmarke bringe ich vorbei.
			</label>
		</div>
	{{end}}

	{{if and (.ReadOnly) (ne .DeliveryMethod "shipping")}}
		<!-- hide -->
	{{else}}
		<div class="border border-secondary bg-light my-3 p-3 rounded">

			<p class="radio-label">
				<input type="radio" name="delivery-method" onchange="updateView()" id="delivery-method-shipping" value="shipping" {{if eq .DeliveryMethod "shipping"}}checked{{end}} {{if .ReadOnly}}disabled{{end}}>
				<label for="delivery-method-shipping">
					Bitte schickt mir die Ware. Ich gebe die Lieferadresse hier an oder sende sie euch per Post auf einem Zettel oder einem <a rel="noreferrer" href="https://www.dhl.de/content/dam/images/pdf/dhl-versandschein-eu-online-ausfuellbar-310320.pdf">DHL-Versandschein</a>. (Bei Übermittlung auf Papier und analoger Frankierung wird die Lieferadresse bei uns nicht digital erfasst.)
				</label>
			</p>

			<div class="mb-3">
				<select class="form-select" name="shipping-service" onchange="updateView()" {{if .ReadOnly}}disabled{{end}}>
					{{range .ShippingServices}}
						<option value="{{.ID}}" {{if eq $.ShippingServiceID .ID}}selected{{end}} data-min-cost="{{.MinCost}}">{{.Name}}</option>
					{{end}}
				</select>
			</div>

			<div class="mb-3 row">
				<div class="col-md-6">
					<input type="text" class="form-control" name="shipping-first-name" placeholder="Vorname" value="{{.ShippingFirstName}}" {{if .ReadOnly}}disabled{{end}}>
				</div>
				<div class="col-md-6">
					<input type="text" class="form-control" name="shipping-last-name" placeholder="Nachname" value="{{.ShippingLastName}}" {{if .ReadOnly}}disabled{{end}}>
				</div>
			</div>

			<div class="mb-3">
				<input type="text" class="form-control" name="shipping-address-supplement" placeholder="Adresszusatz" value="{{.ShippingAddressSupplement}}" {{if .ReadOnly}}disabled{{end}}>
			</div>

			<div class="mb-3 row">
				<div class="col-md-9">
					<input type="text" class="form-control" name="shipping-street" placeholder="Straße" value="{{.ShippingStreet}}" {{if .ReadOnly}}disabled{{end}}>
				</div>
				<div class="col-md-3">
					<input type="text" class="form-control" name="shipping-street-number" placeholder="Hausnummer" value="{{.ShippingStreetNumber}}" {{if .ReadOnly}}disabled{{end}}>
				</div>
			</div>

			<div class="mb-3 row">
				<div class="col-md-3">
					<input type="number" class="form-control" name="shipping-postcode" placeholder="Postleitzahl" value="{{.ShippingPostcode}}" {{if .ReadOnly}}disabled{{end}}>
				</div>
				<div class="col-md-9">
					<input type="text" class="form-control" name="shipping-town" placeholder="Stadt" value="{{.ShippingTown}}" {{if .ReadOnly}}disabled{{end}}>
				</div>
			</div>

			{{if .ShowHints}}
				<p class="mb-0">
					Wie du die Adresse einer DHL-Packstation eingeben kannst, erfährst du auf <a rel="noreferrer" href="https://www.dhl.de/de/privatkunden/pakete-empfangen/an-einem-abholort-empfangen/packstation/empfangen-packstation.html" target="_blank">dhl.de</a>. Dazu brauchst du ein DHL-Kundenkonto mit Postnummer.
				</p>
			{{end}}

			{{if .Actor.IsStore}}
				<div class="mb-3 row">
					<label class="col-sm-6 col-form-label">Kosten für Weiterversand (bei null wird der Mindestwert genommen)</label>
					<div class="col-sm-6">
						<input class="form-control" name="reshipping-fee" onchange="updateView()" type="number" min="0.00" max="10000.00" step="0.01" value="{{FmtMachine .ReshippingFee}}" {{if .ReadOnly}}disabled{{end}}>
					</div>
				</div>
			{{end}}
		</div>
	{{end}}

	<h2>Zusammenfassung</h2>

	<table class="table">
		<thead>
			<tr>
				<th>Bezeichnung</th>
				<th>Bestellwert</th>
				<th>+ Auftragsgebühr</th>
				<th>= Summe</th>
			</tr>
		</thead>
		<tbody id="summary-tbody">
		</tbody>
	</table>

	<script>
		{{range .Tasks}}
			addTask({{.}}, {{$.ReadOnly}} || {{not (.Writeable $.Actor)}}, {{$.ShowHints}},
				{{if $.Actor.IsStore}}
					'<p>ID: {{.ID}}</p>' +
					'<p>Status: {{.State.Description}}</p>' +
					'<p>' +
					'	{{if $.StoreCanTask "confirm-arrived" .}}' +
					'		<a class="btn btn-success" href="/collection/{{$.ID}}/confirm-arrived/{{.ID}}">Ist angekommen</a>' +
					'	{{end}}' +
					'	{{if $.StoreCanTask "confirm-ordered" .}}' +
					'		<a class="btn btn-success" href="/collection/{{$.ID}}/confirm-ordered/{{.ID}}">Als bestellt markieren</a>' +
					'	{{end}}' +
					'	{{if $.StoreCanTask "confirm-pickup" .}}' +
					'		<a class="btn btn-success" href="/collection/{{$.ID}}/confirm-pickup/{{.ID}}">Als abgeholt markieren</a>' +
					'	{{end}}' +
					'	{{if $.StoreCanTask "confirm-reshipped" .}}' +
					'		<a class="btn btn-success" href="/collection/{{$.ID}}/confirm-reshipped/{{.ID}}">Als weiterverschickt markieren</a>' +
					'	{{end}}' +
					'	{{if $.StoreCanTask "mark-failed" .}}' +
					'		<a class="btn btn-warning" href="/collection/{{$.ID}}/mark-failed/{{.ID}}">Ist gescheitert</a>' +
					'	{{end}}' +
					'</p>'
				{{else}}
					'<p>Status: {{.State.Description}}</p>'
				{{end}}
			);
		{{else}}
			{{if not .ReadOnly}}
				document.getElementById("add-task-button").click();
			{{end}}
		{{end}}

		updateView();
	</script>

{{end}}

{{define "task"}}
	<div id="add-task-paragraph"></div>
	<script>
		addTask({{.}}, true, false, "");
	</script>
{{end}}
