<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{{block "head" .}}{{end}}
	<link rel="stylesheet" href="/static/bootstrap.min.css" />
	<script src="/static/ordersystem.js"></script>
	<style>
		input[type=radio]{
			transform:scale(1.5);
			margin: 0.5em;
		}
		td > p:last-child {
			margin-bottom: 0 !important;
		}
	</style>
</head>
<body>
	{{template "body" .}}
	{{block "footer" .}}{{end}}
</body>
</html>

{{define "captcha"}}
<!-- wants .CaptchaID and .CaptchaErr -->
<p class="text-center">
	<img id="captcha-image" src="/captcha/{{.CaptchaID}}.png" alt="Captcha image">
</p>
<div class="form-group">
	<label for="captcha-solution">{{.Translate "layout-numbers"}}</label>
	<input class="form-control {{if .CaptchaErr}}is-invalid{{end}}" id="captcha-solution" name="captcha-solution">
	<div class="invalid-feedback">{{.Translate "state-get-captcha"}}</div>
	<small class="form-text text-muted"><a href="#" onclick="reloadCaptcha(); return false;">{{.Translate "state-get-reload"}}</a></small>
</div>
<input type="hidden" name="captcha-id" value="{{.CaptchaID}}">
{{end}}

{{define "log"}}
<table class="table">
	<thead>
		<th>{{.Translate "log-date"}}</th>
		<th>{{.Translate "coll-edit-status"}}</th>
		<th>{{.Translate "log-remark"}}</th>
		<th>{{.Translate "log-paid"}}</th>
	</thead>
	{{range .Log}}
		<tr>
			<td>{{.Date.Format}}</td>
			<td>{{$.Translate .NewState.NameKey}}</td>
			<td>{{.TextHTML}}</td>
			<td>{{if .Paid}}{{FmtHuman .Paid}}{{end}}</td>
		</tr>
	{{end}}
	{{if .Paid}}
		<tr>
			<td class="text-right" colspan="3">{{.Translate "log-sum"}}</td>
			<td>{{FmtHuman .Paid}}</td>
		</tr>
	{{end}}
</table>
{{end}}

{{define "collection"}}

	<div class="form-group">
		<label for="client-name">
			{{.Translate "layout-client-name"}}
		</label>
		<input type="text" class="form-control" id="client-name" {{if .ShowHints}}aria-describedby="client-name-help"{{end}} name="client-name" value="{{.ClientName}}" {{if .ReadOnly}}disabled{{end}}>
		{{if .ShowHints}}
			<small id="client-name-help" class="form-text text-muted">{{.Translate "layout-client-name-help"}}</small>
		{{end}}
	</div>

	<label for="client-contact">
		{{.Translate "layout-client-contact"}}
		{{if .Actor.IsStore}} &ndash; <strong>{{.Translate "layout-client-contact-help"}}</strong>{{end}}
	</label>
	<div class="form-row">
		<div class="form-group col-md-6">
			<select class="form-control" name="client-contact-protocol" {{if .ReadOnly}}disabled{{end}}>
				{{range .ContactProtocols}}
					<option value="{{.ID}}" {{if eq $.ClientContactProtocol .ID}}selected{{end}}>{{.Name}}</option>
				{{end}}
			</select>
		</div>
		<div class="form-group col-md-6">
			<input type="text" class="form-control" id="client-contact" name="client-contact" value="{{.ClientContact}}" {{if .ReadOnly}}disabled{{end}}>
		</div>
	</div>

	{{if .ShowHints}}
		<p>{{.Translate "layout-client-age"}}</p>
	{{end}}

	<p id="add-task-paragraph">
		{{if not .ReadOnly}}
			<button type="button" class="btn btn-success" id="add-task-button" onclick="var taskNumber = newTask(); addArticle(taskNumber);">{{.Translate "layout-add"}}</button>
		{{end}}
	</p>

	<h2>{{.Translate "layout-delivery"}}</h2>

	{{if .ShowHints}}
		<p>{{.Translate "layout-delivery-text"}}</p>
	{{end}}

	{{if and (.ReadOnly) (ne .DeliveryMethod "store")}}
		<!-- hide -->
	{{else}}
		<div class="border border-secondary bg-light my-3 p-3 rounded">
			<input type="radio" name="delivery-method" onchange="updateView()" id="delivery-method-store" value="store" {{if or (eq .DeliveryMethod "store") (eq .DeliveryMethod "")}}checked{{end}} {{if .ReadOnly}}disabled{{end}}>
			<label for="delivery-method-store">
				{{.Translate "layout-pickup"}}
			</label>
		</div>
	{{end}}

	{{if and (.ReadOnly) (ne .DeliveryMethod "locker")}}
		<!-- hide -->
	{{else}}
		<div class="border border-secondary bg-light my-3 p-3 rounded">
			<input type="radio" name="delivery-method" onchange="updateView()" id="delivery-method-locker" value="locker" {{if eq .DeliveryMethod "locker"}}checked{{end}} {{if .ReadOnly}}disabled{{end}}>
			<label for="delivery-method-locker">
				{{.Translate "layout-locker"}}
			</label>
		</div>
	{{end}}

	{{if and (.ReadOnly) (ne .DeliveryMethod "custom")}}
		<!-- hide -->
	{{else}}
		<div class="border border-secondary bg-light my-3 p-3 rounded">
			<input type="radio" name="delivery-method" onchange="updateView()" id="delivery-method-custom" value="custom" {{if eq .DeliveryMethod "custom"}}checked{{end}} {{if .ReadOnly}}disabled{{end}}>
			<label for="delivery-method-custom">
				{{.Translate "layout-stamp"}}
			</label>
		</div>
	{{end}}

	{{if and (.ReadOnly) (ne .DeliveryMethod "shipping")}}
		<!-- hide -->
	{{else}}
		<div class="border border-secondary bg-light my-3 p-3 rounded">

			<p>
				<input type="radio" name="delivery-method" onchange="updateView()" id="delivery-method-shipping" value="shipping" {{if eq .DeliveryMethod "shipping"}}checked{{end}} {{if .ReadOnly}}disabled{{end}}>
				<label for="delivery-method-shipping">
					{{.Translate "layout-shipping"}}
				</label>
			</p>

			<div class="form-group">
				<select class="form-control" name="shipping-service" onchange="updateView()" {{if .ReadOnly}}disabled{{end}}>
					{{range .ShippingServices}}
						<option value="{{.ID}}" {{if eq $.ShippingServiceID .ID}}selected{{end}} data-min-cost="{{.MinCost}}">{{.Name}}</option>
					{{end}}
				</select>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<input type="text" class="form-control" name="shipping-first-name" placeholder="{{.Translate "layout-name1"}}" value="{{.ShippingFirstName}}" {{if .ReadOnly}}disabled{{end}}>
				</div>
				<div class="form-group col-md-6">
					<input type="text" class="form-control" name="shipping-last-name" placeholder="{{.Translate "layout-name2"}}" value="{{.ShippingLastName}}" {{if .ReadOnly}}disabled{{end}}>
				</div>
			</div>

			<div class="form-group">
				<input type="text" class="form-control" name="shipping-address-supplement" placeholder="{{.Translate "layout-address-supplement"}}" value="{{.ShippingAddressSupplement}}" {{if .ReadOnly}}disabled{{end}}>
			</div>

			<div class="form-row">
				<div class="form-group col-md-9">
					<input type="text" class="form-control" name="shipping-street" placeholder="{{.Translate "layout-street"}}" value="{{.ShippingStreet}}" {{if .ReadOnly}}disabled{{end}}>
				</div>
				<div class="form-group col-md-3">
					<input type="text" class="form-control" name="shipping-street-number" placeholder="{{.Translate "layout-street-number"}}" value="{{.ShippingStreetNumber}}" {{if .ReadOnly}}disabled{{end}}>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-3">
					<input type="number" class="form-control" name="shipping-postcode" placeholder="{{.Translate "layout-postcode"}}" value="{{.ShippingPostcode}}" {{if .ReadOnly}}disabled{{end}}>
				</div>
				<div class="form-group col-md-9">
					<input type="text" class="form-control" name="shipping-town" placeholder="{{.Translate "layout-town"}}" value="{{.ShippingTown}}" {{if .ReadOnly}}disabled{{end}}>
				</div>
			</div>

			{{if .ShowHints}}
				<p class="mb-0">
					{{.Translate "layout-parcel"}}
				</p>
			{{end}}

			{{if .Actor.IsStore}}
				<div class="form-group row">
					<label class="col-sm-6 col-form-label">{{.Translate "layout-reshipment"}}</label>
					<div class="col-sm-6">
						<input class="form-control" name="reshipping-fee" onchange="updateView()" type="number" min="0.00" max="10000.00" step="0.01" value="{{FmtMachine .ReshippingFee}}" {{if .ReadOnly}}disabled{{end}}>
					</div>
				</div>
			{{end}}
		</div>
	{{end}}

	<h2>{{.Translate "layout-summary"}}</h2>

	<table class="table">
		<thead>
			<tr>
				<th>{{.Translate "layout-name"}}</th>
				<th>{{.Translate "layout-value"}}</th>
				<th>{{.Translate "layout-fee"}}</th>
				<th>{{.Translate "layout-sum"}}</th>
			</tr>
		</thead>
		<tbody id="summary-tbody">
		</tbody>
	</table>

	<script>
		{{range .Tasks}}
			addTask({{.}}, {{$.ReadOnly}} || {{not (.Writeable $.Actor)}}, {{$.ShowHints}},
				{{if $.Actor.IsStore}}
					'<p>ID: {{.ID}}</p>' +
					'<p>Status: <strong>{{$.Translate .State.NameKey}}</strong> ({{$.Translate .State.DescriptionKey}})</p>' +
					'<p>' +
					'	{{if $.StoreCanTask "confirm-arrived" .}}' +
					'		<a class="btn btn-success" href="/collection/{{$.ID}}/confirm-arrived/{{.ID}}">{{$.Translate "layout-status-arrived"}}</a>' +
					'	{{end}}' +
					'	{{if $.StoreCanTask "confirm-ordered" .}}' +
					'		<a class="btn btn-success" href="/collection/{{$.ID}}/confirm-ordered/{{.ID}}">{{$.Translate "layout-status-ordered"}}</a>' +
					'	{{end}}' +
					'	{{if $.StoreCanTask "confirm-pickup" .}}' +
					'		<a class="btn btn-success" href="/collection/{{$.ID}}/confirm-pickup/{{.ID}}">{{$.Translate "layout-status-pickup"}}</a>' +
					'	{{end}}' +
					'	{{if $.StoreCanTask "confirm-reshipped" .}}' +
					'		<a class="btn btn-success" href="/collection/{{$.ID}}/confirm-reshipped/{{.ID}}">{{$.Translate "layout-status-reshipped"}}</a>' +
					'	{{end}}' +
					'	{{if $.StoreCanTask "mark-failed" .}}' +
					'		<a class="btn btn-warning" href="/collection/{{$.ID}}/mark-failed/{{.ID}}">{{$.Translate "layout-status-failed"}}</a>' +
					'	{{end}}' +
					'</p>'
				{{else}}
					'<p>Status: <strong>{{$.Translate .State.NameKey}}</strong> ({{$.Translate .State.DescriptionKey}})</p>'
				{{end}}
			);
		{{else}}
			{{if not .ReadOnly}}
				document.getElementById("add-task-button").click();
			{{end}}
		{{end}}

		updateView();
	</script>

{{end}}

{{define "task"}}
	<div id="add-task-paragraph"></div>
	<script>
		addTask({{.}}, true, false, "");
	</script>
{{end}}
