{{define "content"}}
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<div class="container-fluid">
			<div class="col">
				{{block "brand" .}}{{end}}
			</div>
			<div class="col navbar-nav justify-content-center">
				<a class="btn btn-secondary btn-sm mx-1" href="/">Übersicht</a>
				<form class="mb-0 mx-1" action="/logout" method="post">
					<button class="btn btn-secondary btn-sm" type="submit" name="logout">Abmelden</a>
				</form>
			</div>
			<div class="col"><!-- centers navbar-nav --></div>
		</div>
	</nav>
	<div class="container mt-3">
		{{template "store" .}}
	</div>
{{end}}
