<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/bootstrap.min.css">
		<link rel="stylesheet" href="/static/style.css" />
		<link rel="stylesheet" href="/static/fontawesome-free-6.2.1-web/css/fontawesome-selection.css" />
		<link rel="stylesheet" href="/static/fontawesome-free-6.2.1-web/css/solid.css" />
		{{block "head" .}}{{end}}
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-xl navbar-light py-0" style="background-color: rgba(240,242,244) !important">
				<div class="container-fluid">
					<input class="toggler" type="checkbox" id="toggle-shopbar">
					<label for="toggle-shopbar" class="navbar-toggler my-2">
						<div class="navbar-toggler-icon"></div>
					</label>
					<label for="toggle-shopbar" class="d-xl-none me-2">
						<div class="navbar-text">{{.Map "de" "Alle Angebote und Projekte" "en" "All Services and Projects"}}</div>
					</label>
					<div class="collapse navbar-collapse">
						<div class="navbar-brand equal-width-xl"></div>
						<div class="navbar-nav equal-width-xl d-flex justify-content-center">
							<a class="nav-item nav-link text-dark text-nowrap p-3 {{if eq .Website "dys2p.com"                               }}nav-active{{end}}" rel="noreferrer" href="https://dys2p.com/{{.Locale}}">
								<i class="fa-solid fa-flask"></i> dys2p
							</a>
							<a class="nav-item nav-link text-dark text-nowrap p-3 {{if and (eq .Website "proxysto.re") (eq .Page "warum")}}nav-active{{end}}" rel="noreferrer" href="https://proxysto.re/{{.Locale}}/warum.html">
								<i class="fa-solid fa-biohazard"></i> {{.Map "de" "Warum?" "en" "Why?"}}
							</a>
							<a class="nav-item nav-link text-dark text-nowrap p-3 {{if and (eq .Website "proxysto.re") (ne .Page "warum")}}nav-active{{end}}" rel="noreferrer" href="https://proxysto.re/{{.Locale}}">
								<i class="fa-solid fa-store"></i> {{.Map "de" "Ladengeschäft" "en" "Local Store"}}
							</a>
							<a class="nav-item nav-link text-dark text-nowrap p-3 {{if eq .Website "order.proxysto.re"                       }}nav-active{{end}}" rel="noreferrer" href="https://order.proxysto.re">
								<i class="fa-solid fa-tags"></i> {{.Map "de" "Bestellservice" "en" "Order Service"}}
							</a>
							<a class="nav-item nav-link text-dark text-nowrap p-3 {{if eq .Website "digitalgoods.proxysto.re"                }}nav-active{{end}}" rel="noreferrer" href="https://digitalgoods.proxysto.re/{{.Locale}}">
								<i class="fa-solid fa-ticket"></i> {{.Map "de" "Digitale Güter" "en" "Digital Goods"}}
							</a>
							<a class="nav-item nav-link text-dark text-nowrap p-3 {{if eq .Website "druck.proxysto.re"                       }}nav-active{{end}}" rel="noreferrer" href="https://druck.proxysto.re">
								<i class="fa-solid fa-print"></i> {{.Map "de" "Onlinedruckerei" "en" "Online printing"}}
							</a>
							<a class="nav-item nav-link text-dark text-nowrap p-3 {{if eq .Website "shop.proxysto.re"                        }}nav-active{{end}}" rel="noreferrer" href="https://shop.proxysto.re">
								<i class="fa-solid fa-cart-shopping"></i> ProxyStore
							</a>
							<a class="nav-item nav-link text-dark text-nowrap p-3 {{if eq .Website "toolbox77.de"                            }}nav-active{{end}}" rel="noreferrer" href="https://toolbox77.de">
								<i class="fa-solid fa-cart-shopping"></i> toolbox77
							</a>
						</div>
						<div class="equal-width-xl text-end text-nowrap">
							{{if gt (len .Locales) 1}}
								{{if or (eq $.Website "proxysto.re") (eq $.Website "dys2p.com") }}
									<!-- static sites -->
									{{range .Locales}}<a class="btn btn-sm btn-secondary{{if eq . $.Locale}} active{{end}}" href="/{{.}}/{{$.Page}}.html">{{Caps .}}</a> {{end}}
								{{else}}
									<!-- layout only -->
									{{range .Locales}}<a class="btn btn-sm btn-secondary{{if eq . $.Locale}} active{{end}}" href="/{{.}}/">{{Caps .}}</a> {{end}}
								{{end}}
							{{end}}
						</div>
					</div>
				</div>
			</nav>
		</header>

		{{template "main" .}}

		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-2">
						<h4><a href="/{{.Locale}}/payment.html">{{.Map "de" "Bezahlung" "en" "Payment"}}</a></h4>
						<ul>
							<li>{{.Map "de" "Barzahlung im Ladengeschäft" "en" "Cash payment"}}</li>
							<li>{{.Map "de" "Bargeld per Post" "en" "Cash letter"}}</li>
							<li>{{.Map "de" "Monero und Bitcoin" "en" "Monero and Bitcoin"}}</li>
							<li>{{.Map "de" "SEPA-Überweisung" "en" "SEPA bank transfer"}}</li>
							{{if and (ne .Website "digitalgoods.proxysto.re") (ne .Website "order.proxysto.re")}}
								<li>{{.Map "de" "PayPal (teilweise)" "en" "PayPal (partly)"}}</li>
							{{end}}
						</ul>
					</div>
					<div class="col-md-3">
						{{if ne .Website "digitalgoods.proxysto.re"}}
							<h4><a href="/{{.Locale}}/delivery.html">{{.Map "de" "Versand" "en" "Delivery"}}</a></h4>
							<ul>
								<li>{{.Map "de" "Abholung im Ladengeschäft" "en" "Pickup in our local store"}}</li>
								<li>{{.Map "de" "Abholung aus Schließfach im Ladengeschäft" "en" "Pickup from locker in our local store"}}</li>
								 <!--Übermittlung der Versandadresse auf verschiedenen Wegen möglich-->
								<li>{{.Map "de" "DHL-Paket handschriftlich frankiert" "en" "DHL parcel, franked handwritten"}}</li>
								<li>{{.Map "de" "DHL-Paket digital frankiert" "en" "DHL parcel, franked digitally"}}</li>
								<li>{{.Map "de" "online (digitale Güter)" "en" "online (digital goods)"}}</li>
							</ul>
						{{end}}
					</div>
					<div class="col-md-2">
						<h4>{{.Map "de" "Rechtliches" "en" "Legal"}}</h4>
						<ul>
							<li><a href="/{{.Locale}}/terms.html">{{.Map "de" "AGB" "en" "Terms and Conditions"}}</a></li>
							<li><a href="/{{.Locale}}/privacy.html">{{.Map "de" "Datenschutz" "en" "Privacy policy"}}</a></li>
							<li><a href="/{{.Locale}}/imprint.html">{{.Map "de" "Impressum" "en" "Imprint"}}</a></li>
							<li><a href="/{{.Locale}}/cancellation-policy.html">{{.Map "de" "Widerrufs&shy;belehrung" "en" "Cancellation Policy"}}</a></li>
						</ul>
					</div>
					<div class="col-md-2">
						<h4>{{.Map "de" "Kontakt & News" "en" "Contact & News"}}</h4>
						<ul>
							<li><a rel="noreferrer" href="/{{.Locale}}/contact.html"><strong>{{.Map "de" "Kontakt" "en" "Contact us"}}</strong></a></li>
							<li><a rel="noreferrer" href="https://dys2p.com/{{.Locale}}/news.html">Blog</a></li>
							<li><a rel="noreferrer" href="https://github.com/dys2p">GitHub</a></li>
							<li><a rel="noreferrer" href="https://chaos.social/@dys2p">Mastodon</a></li>
							<li><a rel="noreferrer" href="https://www.reddit.com/r/dys2p">Reddit</a></li>
							<li><a rel="noreferrer" href="https://twitter.com/dys2pn">Twitter</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<h4><a rel="noreferrer" href="https://proxysto.re/{{.Locale}}">{{.Map "de" "Ladengeschäft" "en" "Local Store"}}</a></h4>
						<p>
							Bernhard-Göring-Straße 162<br>
							04277 Leipzig<br>
							{{.Map "de" "Deutschland" "en" "Germany"}}
						</p>
						<p>
							Mo+Do 10-18 Uhr<br>
							Di+Mi+Fr+Sa 10-14 Uhr<br>
							{{.Map "de" "und nach Vereinbarung" "en" "and by arrangement"}}
						</p>
					</div>
				</div>
				<p class="px-0">
					<a href="/{{.Locale}}/contact.html">{{.Map "de" "Fehler oder Hinweise? Schreib uns!" "en" "Got an idea or found an error? Drop us a note!"}}</a>
				</p>
			</div>
		</footer>
	</body>
</html>
